body{
	margin:0px;
	padding:0px;
}
.btn-default{
	position:relative;
	left:40%;
}
.btn-default:hover{
	background-color:rgb(10,68,102);
	color:#FFF;
}
.blue{
	background-color:rgb(10,68,102);
	border-top-right-radius:6px;
	border-top-left-radius: 6px;
}
.table-fixed thead {
  width: 100%;
}
.table-fixed tbody {
  height: 100px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.panel{
	margin-left:30px;
	height:auto!important;
}
.modal-footer{
	text-align:left!important;
}
.fa-asterisk{
	color:#F00;
	position:relative;
	left:30%;
}
.fa-pencil{
	color:#03F;
	position:relative;
	left:30%;
}
.modal-header h4{
	color:#FFF;
	font-size:20px;
	margin:0px;
	padding:0px;
	text-transform:capitalize;
	text-align:center;
}
.panel-heading{
	padding:0px;
}
.navbar-inverse{
	background-color:rgb(10,68,102);
	color:#FFF;
	text-transform:uppercase;
	border-radius:0px;
	border:0px;
}
.navbar-inverse h1{
	text-transform:capitalize;
	margin: 5px;
	padding:7px;
    float: left;
	font-size:28px;
}
.glyphicon-menu-hamburger{
	background-color:transparent;
	border-color:transparent;
	font-size:24px;
	float:left;
}
h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color:transparent;
}.navbar-inverse h1{
	margin:7px;
	float:left;
}
.glyphicon-user{
	margin:7px;
font-size:36px;
}
.navbar-brand img{
	float:left;
}
.nav .navbar-header h1{
	margin:0px;
	padding:0px;
	text-align:center;
}
.text{
	color:rgb(10,68,102);
	}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .0) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .0)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control{
	color:#306;
}
.dropdown-submenu {
    position: relative;
}
.open > .dropdown-menu{
	display: block;
    background-color:#FC9;
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
	background-color:#FC9;
}
<!-->
body{
    background:url('http://www.wallpaperup.com/uploads/wallpapers/2012/10/21/20181/cad2441dd3252cf53f12154412286ba0.jpg');
    padding:50px;
}

#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
.btn-primary {
    color: #fff;
    background-color: rgb(10,68,102);
    border-color: #2e6da4;
	margin-left:15px;
	}
.dropdown-menu > li > a{
	padding:10px 40px;
	font-size:14px;
	text-transform:capitalize;
}	
.dropdown-menu > li > a:hover{
	color:rgb(10,68,102);
	padding:10px 40px;
}	

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
hr{
	margin:0px;
	padding:0px;
}
.imgstyle{
    height:125x; 
    width:75%;
	margin:0px 200px;
	border:1px solid #3CF;
}
#theCarousel h2{
	text-align:center;
	color:#036;
	margin-bottom:10px;
	}
#shiva
{
  width:75%;
  height:50px;
  background-color:red;
  float:left;
  text-align:center;
  margin:0px 200px;
}
.count
{
  line-height: 40px;
  color:#63F;
  width:100px;
  font-size:25px;
}	
